[submodule "stackline"]
	path = stackline
	url = https://github.com/molleweide/stackline.git
[submodule "Spoons/VimMode.spoon"]
	path = Spoons/VimMode.spoon
	url = git@github.com:dbalatero/VimMode.spoon.git
[submodule "Spoons/HyperKey.spoon"]
	path = Spoons/HyperKey.spoon
	url = git@github.com:dbalatero/HyperKey.spoon.git
